*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

# /.vscode/
# /.bundle/

node_modules/
.sass-cache/

/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_posts
_posts/
_site/
.jekyll-metadata
.jekyll-cache/
